

*{box-sizing: border-box;
font-family: 'Noto Sans', sans-serif;


}

ul{list-style: none;
margin:0;}


.home{margin:0;
    text-decoration:none; 
    color:grey; 
    padding:30px;  
}
.pricing{text-decoration: none;
    color:grey;
    padding-right:4px;

}
.navbar{color: grey;
    margin: 0px;
    font-size: 13px;
    font-family: serif;
    padding-left: 12px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-top: -3px;
    text-decoration: none;
}

.imagecontainer{height: 329px;
    width: 1100px;
    padding: 0px;
    padding-left: 0;
    margin: 0px;
    margin-left: -4px;
    position: relative;
}

.text1{
    position: absolute;
    top: 75px;
    right: 421px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 38px;
        color: white;
}

.text2{
    position: absolute;
    top: 123px;
    right: 385px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 37px;
    color: white;
}




#columncontainer{background-color: white;
height:500px;
width:1100px;
margin:-9px;
display: block;
margin-top:10px;
}

.Personaltop{background-color: Forestgreen}
    .content{
        margin=0px;
    
    margin-left: -1px;
    margin-right: -1px;
    margin-top: 0px;
    border: 1px lightgray solid;
}      

    .column1{height: 300px;
    width: 18%;
    background: white;
    position: absolute;
    top: 395px;
    left: 154px;
}
    .column2{
        height:300px;
        width:18%;
        position:absolute;
        top:395px;
        left:424px;




    }


.dollars1{
     font-size:80px;
    color:white;
    position:relative;
    right:-40px;
    margin-top:2px;
}

    .column3{
             height: 300px;
    width: 99%;
    position: absolute;
    top: 0;
    right: -262px;
}
.top1{
        color: lightgrey;
    position: relative;
    left: 20px;
        top: 15px;
}

.top2{
    color:lightgrey;
    position: relative;
    left: 20px;
        top: 15px;
}

.bottom2{
    color:lightgrey;
    position: relative;
    left: 25px;
}
}
.top3{
    color:lightgrey;
}
.bottom3{
    color:lightgrey;
}


.smallbusinesstop{
        color:lightgrey;
    position: relative;
    left: 6px;
    top:15px;

}


.dollars{
    font-size:80px;
    color:white;
    position:relative;
    right:-14px;
}

           .Personaltop{background-color: rgb(40,153,82);
            margin-top:0;
            }

            




            .Businesstop{background-color: rgb(43,65,131);
            margin-top:0;}

            .Enterprisetop{background-color:rgb(17,17,17);
            margin-top:0;}
            .columncontent{border-color: lightgrey;
                border-color: lightgrey;
                border-style: solid;
                border-width: 1px;
                margin: 0px;
                margin-left: -40px; 
                height:50px;
                font-size:10pt;
                text-align: center;
                padding:19px;
            }
            .middlecontainer{}
            .buttoncontainer{
               height: 40px;
                width: 258px;
                border-left: solid 2px lightgrey;
                border-bottom: solid 2px lightgrey;
                border-right: solid 2px lightgrey;
}
            
            .myButton{
                text-align: center;
                border-bottom:lightgrey solid 1px;
                border-left:lightgrey solid 1px;
                border-right:lightgrey solid 1px;
                border-top: lightgrey solid 1px;
                float: initial;
                 -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: black;
  font-size: 14px;
  background: white;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  margin:90px;
  font-style: bold;
  position:relative;
  top:3px;


            }



#bottomcontainer{    height: 481px;
                width: 1100px;
                position: absolute;
                display: inline;
                background: rgb(255,255,255);
                top: 467px;
                right: -419px;
}
                    .bottomcontainer1{height: 420px;
                                        width: 365px;
                                        background-color: rgb(255,255,255);
                                        position: absolute;
                                        left: 172px;
                                        top:20px;}

                    .bottomcontainer2{height:420px;
                                        width:365px;
                                        background-color: rgb(255,255,255);
                                        position: absolute;
                                        top: 20px;
    									right: 158px;
										}

#lor{ font-size: 9pt; 
margin-top:-4; }

h6{    margin-top: 32px;
    font-size: 16px;
    margin: 33px;
    margin-left: 15px;
}
					/*.bottomcontainer3{height: 450px;
                                        width: 540px;
                                        background-color: purple;
                                        position: absolute;
                                        left: 8px;
                                        top:0px;}

                    .bottomcontainer4{height:450px;
                                        width:540px;
                                        background-color: black;
                                        position: absolute;
                                        top: 0px;
    									right: 8px;
										}

                    .paragraph1{display: inline-block;}

                    .paragraph2{display: inline-block;}

                    .paragraph3{display: inline-block;}

                    .paragraph4{display: inline-block;}

                    //*.span{
                        width: 400px;
                        display: list-item}*/


.bottom{ position: absolute
    ;
    bottom: -17px;
    height: 48px;
    background: black;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 8pt;
    padding-top: 10px;
}





