
#header{display: inline-block; width: 400px;}
#topnav{display: inline-block;}
.ul1{display: inline-block;
width: 400px;
margin: 0}






li{list-style: none;}
*{box-sizing: border-box;
}
.page{width:1092px;}


.imageandtext{width: 720px;
    height: 300px;}




img{float: left;}
.background{height: 300px; 
  width:1100px;}



#middle{height: 330px;
        width: 300px;
        display: inline-block;
        background-color: rgb(247,247,247);
        border-style: solid;
        border-color: rgb(238,238,238);
        border:12px;
        margin:5px;
        }
.middle{padding: 0}

.below{border-color: red;
      border-style: solid;
      border-width: 3px;
      margin-top:-16px;}


#color1{background-color: rgb(40,153,82);margin: 0;}
  .top1{color: rgb(185,207,189);}
    .dollars{color: rgb(255,255,255);
            padding-left: 50px}
      .bottom1{color: rgb(143,199,157);}




#color2{background-color: rgb(44,67,135);margin: 0;}
  .top2{color: rgb(193,193,193);}
    .bottom2{color: rgb(144,158,192);}




#color3{background-color: rgb(17,17,17);margin: 0;}
  .top3{color: rgb(231,231,231);}
    .bottom3{color: rgb(114,114,114);}



    .content{padding:10px;
            
            border-width:1px:; 
            border-style:solid;
            border-color: blue;}

